.main {
	background-color: transparent;
	width: 95%;
	margin: 40px;
	display: flex;
	flex-direction: column;
	display: flex;
	color: black;
	font-size: calc(2px + 2vmin);

	&__parsing-stopped {
		display: flex;
		flex-direction: column;
		background-color: #f3db32;
		border-radius: 5px;
		padding: 2px;
		margin-top: 5px;
		border-color: red;
		border-width: 2px;
		border-style: solid;
	}
}
