.admin-controls {
	display: flex;
	width: auto;
	height: -moz-fit-content;
	height: fit-content;
	background-color: bisque;
	padding: 5px;
	border-radius: 5px;
	border-color: #ffbf4a;
	border-style: solid;
}
